.groups {
	list-style-type: none;
	padding: 0;
	clear: both;
}

.groups li {
	padding: 0.5em;
	float: left;
	border: 0.1em solid #e51a38;
	border-top: 2em solid #e51a38;
	border-bottom: 1em solid #e51a38;
	margin: 0.5em;
	width: 20em;
	height: 5em;
	border-radius: 0.5em;
}

.groups .logo {
	float: left;
	margin-right: 0.5em;
	width: 3em;
	height: 5em;
}

.groups li img {
	max-width: 3em;
	max-height: 3em;
}

.rsvp {
	padding: 0.5em;
	border: 0.1em solid #e51a38;
	border-top: 2em solid #e51a38;
	border-bottom: 1em solid #e51a38;
	margin: 2%;
	width: 24%;
	height: 7em;
	max-width: 18em;
	border-radius: 1em;
	border-top-left-radius: 1.3em;
	border-top-right-radius: 1.3em;
	background-color: white;

	display: inline-block;
}

.rsvp.picking {
	border: 0.1em solid black;
	border-top: 2em solid black;
	border-bottom: 1em solid black;
	opacity: 0.2;
}

.thumb {
	width: 6em;
	height: 6em;

	float: left;
	padding: 0.3em;
	margin-right: 1em;
	text-align: center;
}

.rsvps .thumb img {
	height: 100%;
	max-width: 100%;
	max-height: 100%;
}

.clb {
	clear: both;
}

h3 {
	clear: both;
}

.checkedin {
	color: green;
}