.group, .rsvp .tag {
	padding: 0.5em;
	border: 0.1em solid #e51a38;
	border-top: 2em solid #e51a38;
	border-bottom: 1.2em solid #e51a38;
	margin: 0.5em;
	height: 8em;
	border-radius: 0.8em;
}

.rsvp .tag {
	height: 10em;
}

.rsvp .name {
	font-size: x-large;
}

.group .logo img, .rsvps .thumb img {
	float: left;
	margin-right: 1em;
	max-width: 3em;
	max-height: 3em;
}

.rsvps .thumb img {
	max-width: 6em;
	max-height: 6em;
}

.group .name {
	display: block;
	text-overflow: ellipsis;

	/* Required for text-overflow to do anything */
	white-space: nowrap;
	overflow: hidden;
}

.rsvp.picking .tag {
	border: 0.1em solid black;
	border-top: 2em solid black;
	border-bottom: 1em solid black;
	opacity: 0.2;
}
